<%- include("partials/header.ejs") %>

<div class="posts">
  <div class="new-post-container">
    <div>
      <h1 class="post-description">Create your new Post:</h1>
    </div>
    <div class="form">
      <form action="/submit" method="POST">
        <div class="form-title">
          <input type="text" class="form-text" name="postTitle" placeholder="Title">
        </div>
        <div class="form-body">
          <input type="text" class="form-text" name="postBody" placeholder="Write something:">
        </div>
        <button type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>


